* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Button {
    margin: 5px;
}

.Button.primary {
    background-color: black;
}

.Button.secondary {
    border: 1px solid white;
    background-color: transparent;
}