* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.CardClass {
    background-color: blue;
    padding: 2rem;
    position: relative;
    border-radius: 6px;
    text-align: left;
    height: 33rem;
    width: 300px;
}

.CardClass.Engineering {
    background-color: green;
}

.CardClass.Design {
    background-color: purple;
}

.CardClass.Operations {
    background-color: violet;
}

.profilePicture {
    background-color: black;
    width: 100%;

}

.promoteImage {
    position: absolute;
    right: 30px;
    top: 280px;
    width: 20px;
    content: cover;
}

.anniversarryImage {
    width: 20px;
    position: absolute;
    right: 55px;
    top: 280px;
    content: cover;
}

.secondaryText {
    font-size: 0.8rem;
}

.buttonPromotion {
    position: absolute;
    bottom: 10px;

}