* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CardClass {
    background-color: blue;
    padding: 2rem;
    position: relative;
}

.promoteImage {
    position: absolute;
    right: 20px;
    top: 50px;
    width: 15px;
    content: cover;
}

.anniversarryImage {

    width: 20px;
    position: absolute;
    left: 20px;
    top: 50px;
    content: cover;
}