.header {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}