#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(4, 0, 15);
}

main {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.ListSpace {
  margin-bottom: 30px;
  margin: 0 auto;
}

main {
  margin: 0 auto;
}