* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  color: rgba(255, 255, 255, 0.87);

  --link-color: rgba(255, 255, 255, 0.87);
  --background-color: rgb(4, 0, 15);
  background-color: var(--background-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: #616161;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5em;
}

main {
  width: 100%;
  min-width: 100vw;
  min-height: 85vh;
  margin: 0 auto;
  margin-bottom: 30px;
}